.booking-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingCard {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 700px;
    justify-content: center;
    margin-top: 20px;
    background-color: #e9e9e9;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, #84dbc2, #103c30);
    box-shadow: 0px 1px 10px 1px gray;
}

.bookingContainer {
    padding-top: 20px;
    max-width: 1180px;
    width: 100%;
    height: 680px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.bookingContainer .booking-h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #276755;
    text-align: center;
}

/* .bookingContainer .leftpart {
    width: 50%;

} */

/* .bookingContainer .booking-form .input_field {
    margin-bottom: 15px;
    display: flex;
    columns: 50% 50%;

} */

.bookingContainer .booking-form .input_field label {
    width: 200px;

}

.u-full-width {
    box-sizing: border-box;
    outline: none;
    border: solid 1px #276755;
    border-radius: 4px;
    color: #b80000;
    width: 100%;
    padding: 10px 70px;
    background: rgba(255, 255, 255, 1)
}


@media screen and (max-width: 960px) {
    .bookingCard {
        display: flex;
        align-items: center;
        width: 800px;
        height: 700px;
        justify-content: center;
        margin-top: 20px;
        background-color: #e9e9e9;
        border-radius: 8px;
        background-image: linear-gradient(to bottom right, #84dbc2, #103c30);
        box-shadow: 0px 1px 10px 1px gray;
    }

    .bookingContainer {
        padding-top: 20px;
        max-width: 780px;
        width: 100%;
        height: 680px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 768px) {
    .bookingCard {
        display: flex;
        align-items: center;
        width: 650px;
        height: 700px;
        justify-content: center;
        margin-top: 20px;
        background-color: #e9e9e9;
        border-radius: 8px;
        background-image: linear-gradient(to bottom right, #84dbc2, #103c30);
        box-shadow: 0px 1px 10px 1px gray;
    }

    .bookingContainer {
        padding-top: 20px;
        max-width: 630px;
        width: 100%;
        height: 680px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
    }
}

@media screen and (max-width: 500px) {
    .bookingCard {
        display: flex;
        align-items: center;
        width: 350px;
        height: 900px;
        justify-content: center;
        margin-top: 20px;
        background-color: #e9e9e9;
        border-radius: 8px;
        background-image: linear-gradient(to bottom right, #84dbc2, #103c30);
        box-shadow: 0px 1px 10px 1px gray;
    }

    .bookingContainer {
        padding-top: 20px;
        max-width: 330px;
        width: 100%;
        height: 880px;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
    }
}