:root {
    --primary: #103C30;
}

.btn {
    padding: 3px 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    
}

.btn:hover {
    padding: 3px 10px;
    transition: all 0.3s ease-out;
    background-color: #38AA89;
    color: #fff;
    border-radius: 4px;
    transform: translate(0, 20%);
}