

  #larrynavbar {
    background: #276755;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  #larrynavbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.8rem;
  }

  .larrynav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  #larrynav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  #larrynav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  #larrynav-links:hover {
    background-color: #84dbc2;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  #larrynav-links-mobile {
    display: none;
  }
  
  .larrymenu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .larrynav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .larrynav-menu.active {
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    #larrynav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    #larrynav-links:hover {
      background-color: #84dbc2;
      border-radius: 0;
    }
  
    #larrynavbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .larrymenu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
    #larrynav-links-mobile {
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      background: #276755;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
    }
  
    #larrynav-links-mobile:hover {
      background: #fff;
      color: #38AA89;
      transition: 250ms;
    }
  
    #b_admin {
      display: none;
    } 
  }